---
  - name: Install software
    become: True
    apt:
      state: present
      update_cache: yes
      cache_valid_time: 1800
      name:
        - python-ldap
        - krb5-kdc-ldap
        - krb5-kdc
        - krb5-admin-server
        - krb5-pkinit
        - python-pexpect
        - sasl2-bin
        - libsasl2-modules-gssapi-mit
        - 389-ds-base
        - libnss3-tools
        - libldap-common
        - libpam-krb5
    tags:
      - ldap
      - kerberos

  - import_tasks: 389-setup.yml
    tags:
      - ldap

  - include_tasks: 389-schema.yml
    tags:
      - ldap
    with_items:
      - name: Kerberos
        file: kerberos.ldif
        checkattr: krbPrincipalName
      - name: DNS
        file: dns.ldif
        checkattr: idnsTemplateObject

  - import_tasks: 389-replication.yml
    tags:
      - ldap

  - import_tasks: 389-acl.yml
    tags:
      - ldap

  - include_tasks: kerberos.yml
    tags:
      - kerberos

  - name: Configure LDAP users
    include_tasks: content.yml
    with_items:
      - "{{ auth_ldap_users }}"
    tags:
      - ldap
      - kerberos

  - meta: flush_handlers
