dn: {{ item.value.dn }}
changetype: modify
add: olcSyncRepl
{% for item2 in groups['core'] %}
olcSyncRepl: rid=00{{ hostvars[item2]['auth_ldap_server_id'] }}
  provider=ldaps://{{ hostvars[item2]['ansible_default_ipv4']['address'] }}
  bindmethod=simple
  binddn="cn=admin,{{ auth_ldap_domain_ldap }}"
  credentials="{{ auth_ldap_admin_pwd_clear }}"
  searchbase="{{ item.value.base }}"
  schemachecking=off
  type=refreshAndPersist
  retry="5 5 15 3 30 6 120 10"
  tls_cacert=/etc/ldap/ca.pem
  timeout=3
{% endfor %}
-
add: olcMirrorMode
olcMirrorMode: TRUE
