[kdcdefaults]
    kdc_ports = 749,88

[dbmodules]
    {{ auth_ldap_domain|upper }}-LDAP = {
        db_library = kldap
        db_module_dir = /usr/lib/x86_64-linux-gnu/krb5/plugins/kdb
        ldap_kdc_dn = "cn=krbbind,ou=TechnicalUsers,{{ auth_ldap_domain_ldap }}"
        ldap_kadmind_dn = "cn=krbbind,ou=TechnicalUsers,{{ auth_ldap_domain_ldap }}"
        ldap_service_password_file = /etc/krb5kdc/ldap.cred
        ldap_kerberos_container_dn = "cn=Kerberos,{{ auth_ldap_domain_ldap }}"
        ldap_servers = ldap://127.0.0.1:389{% for item in groups[auth_ldap_group] %}{% if hostvars[item]['ansible_fqdn'] != ansible_fqdn %} ldap://127.0.0.1:{{ 60389 + hostvars[item]['auth_ldap_server_id'] }}{% endif %}{% endfor %}

        ldap_conns_per_server = 5
        unlockiter = true
    }

[realms]
    {{ auth_ldap_domain|upper }} = {
        kdc_port = 88
        kdc_tcp_port = 88
        kadmind_port = 749
        max_life = 6h 0m 0s
        max_renewable_life = 3d 0h 0m 0s
        master_key_type = aes256-cts-hmac-sha384-192
        supported_enctypes = {{ auth_kerberos_enctypes }}
        database_module = {{ auth_ldap_domain|upper }}-LDAP
        restrict_anonymous_to_tgt = true
        des_crc_session_supported = false
        default_principal_flags = +preauth
        pkinit_identity = FILE:/etc/krb5kdc/server.crt,/etc/krb5kdc/server.key
    }
