[libdefaults]
	default_realm = {{ auth_ldap_domain|upper }}

	kdc_timesync = 1
	ccache_type = 4
	forwardable = true
	proxiable = true
	# Require principals to be listed in .k5login in order to allow login
	# iff that file exists
	k5login_authoritative = true
	allow_weak_crypto = false
	permitted_enctypes = {{ auth_kerberos_enctypes }}
	default_tkt_enctypes = {{ auth_kerberos_enctypes }}
	default_tgs_enctypes = {{ auth_kerberos_enctypes }}
	spake_preauth_groups = {{ auth_kerberos_curves }}
	# gokrb5 chokes without the next line
	dns_lookup_kdc = true
{% if auth_kerberos_fixed_preauth != -1 %}
	# gokrb5 also chokes without the next line
	preferred_preauth_types = {{ auth_kerberos_fixed_preauth }}
{% endif %}

[realms]
	{{ auth_ldap_domain|upper }} = {
		pkinit_anchors = FILE:/etc/ldap/ca.pem
		admin_server = {{ ansible_fqdn }}
{% for host in groups[auth_ldap_group] %}
		pkinit_kdc_hostname = {{ hostvars[host]['ansible_fqdn'] }}
{% endfor %}
	}

[domain_realm]
	.{{ auth_ldap_domain }} = {{ auth_ldap_domain|upper }}
{% for domain in auth_ldap_domain_subdomains %}
	.{{ domain|lower }} = {{ auth_ldap_domain|upper }}
{% endfor %}
