# PAM config for auth passthrough from LDAP to Kerberos
auth      required   pam_krb5.so ignore_k5login
session   required   pam_krb5.so ignore_k5login
account   required   pam_krb5.so ignore_k5login
password  required   pam_krb5.so ignore_k5login
