[general]
full_machine_name = {{ ansible_fqdn }}
strict_host_checking = True

[slapd]
instance_name = {{ auth_ldap_shortname }}
port = 389
root_password = {{ auth_ldap_admin_pwd|replace('%', '%%') }}
secure_port = 636
self_sign_cert = False

[backend-userroot]
suffix = {{ auth_ldap_domain_ldap }}